header {
    background-color: aquamarine;
}

#email {
    margin: 0 0 5px 0;
}

table{
    border: 3px solid black;
    border-collapse: collapse;
}

td{
    border: 2px solid black;
    text-align: center;
}